.header_title {
    text-align: center;
    border: 5px solid rgb(0, 59, 1);
    padding: 10px;
    font-size: 2em;
    color: #330006
}

body {  
    text-align: left;
    font-size: 1em;
    background-color: #DABC94;    
}

.txt {
    color: #8b1820;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}